@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.div-grad {
background-color: rgba(255, 255, 255, 0.9);
}

.font-title {
  font-family: 'Barlow Condensed', sans-serif;
}

.font-text {
  font-family: 'Montserrat', sans-serif;
}
  
.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;

  background-color: transparent;
}


/* Track */


/* Handle */
::-webkit-scrollbar-thumb {
  background: #dc2626;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
}

.scroll {
  width: 60px;
  position: absolute;

  height: 60px;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
}

.scroll::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 18px;
  width: 18px;
  height: 18px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
}

@keyframes down {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translateY(15px);
  }

  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translateY(15px);
  }

  40% {
    transform: translate(0);
  }
}


video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 70%;
  width: 100vw;
}
.video-wrapper {


  position: relative;
  overflow: hidden;


}
.header{

} 

/* Marquee styles */
.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}
